.main-header{
    background-color: #2ddf5c;
    padding: 8px 16px;
    vertical-align: middle;
}
.main-nav{
    width: 100%-49px;
    text-align: right;
    vertical-align: middle;
    box-sizing: border-box;
    display: inline-block;
    list-style: none;
    text-decoration: none;
    
}
    
.main-body{
    margin: 0px;
}
.main-footer{
    text-align:justify ;
    background-color: aqua;
    display:flex
    
}

#t1{
    text-align: center;
}
.aside{
    background-color: blueviolet;
    
}
