<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ejercicio 2</title>
    <link rel="stylesheet" href="C:\Users\Adrian\Desktop\ejercicio pdf2\ejercicio-modulo-2\ejercicio2.css">
    <script src="C:\Users\Adrian\Desktop\ejercicio pdf2\ejercicio-modulo-2\ejercicio2.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body class=main-body>
    <Header class=main-header>
        <div class=main-headerbrand> <img src="C:\Users\Adrian\Desktop\ejercicio pdf2\ejercicio-modulo-2\logobanco3.png" alt=""></div>
        <h1 id=t1>ejercicio del modulo 2</h1>
    </Header>
    <nav class=main-nav>
        <ul class=main-navitem>
            <li  class=main-navitem><a href="http://">inicio</a></li>
            <li  class=main-navitem><a href="http://">contenido</a></li>
            <li  class=main-navitem><a href="http://">contacto</a></li>
        </ul>

    </nav>
    <aside>
        <p>barra lateral derecha</p>
    </aside>
    <section>
        <h2>subtitulo</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique dolorum laudantium repellendus fuga quis eius ad reprehenderit cum, facilis sed nihil unde deserunt consectetur quasi debitis aliquid, dolore aperiam. Officiis!</p>

    </section>
    <article>

    </article>
    <footer class=main-footer>
        <p>Posted by: Hege Refsnes</p>

        <p id=p1>Contact information: <a href="mailto:someone@example.com">someone@example.com</a>.</p>
    </footer>
</body>
</html>